@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.bd{
  /* background :linear-gradient(90deg,#868F96  0%, #596164 80%); */
  background-image: url("./asset7\(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
  font-family: 'Oswald';
  font-size: xx-large;
  padding-top: -70%;
  padding-bottom: 50%;
  margin-bottom: 200px;
  height: 100vh;
  width: 100vw;
  color: rgb(255, 255, 255);
  overflow: hidden;
  letter-spacing: 0px;
}
.cards-list {
    margin-top: 3%;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 10px;
}
.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    padding-bottom: 35px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    background-color: black;
    margin-right: 3%;
    margin-left: 3%;
}
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  /* .title-white Link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 800px;
    word-spacing: 10px;
  } */
  .title-white a{
    text-decoration:double;
    color: rgb(255, 196, 0);
  }
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: row;
    }
  }
  /*
    .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
*/